aiogram==2.0
aiohttp==3.4.4
anytree==2.6.0
appdirs==1.4.3
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==18.2.0
Babel==2.6.0
Beaker==1.10.1
CacheControl==0.12.5
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
cryptography==2.3.1
css-parser==1.0.4
distlib==0.2.8
distro==1.4.0
evdev==1.1.2
future==0.17.0
html5lib==1.0.1
idna==2.8
lockfile==0.12.2
lxml==4.3.3
Mako==1.0.8
Markdown==3.0.1
MarkupSafe==1.1.1
msgpack==0.6.1
multidict==4.4.2
packaging==19.0
pep517==0.5.0
Pillow==6.0.0
pip-tools==3.6.0
progress==1.5
psycopg2==2.8.1
pulsemixer==1.4.0
pycairo==1.18.0
pycparser==2.19
Pygments==2.3.1
PyGObject==3.32.0
pyparsing==2.3.1
PySocks==1.6.8
pyTelegramBotAPI==3.6.6
python-telegram-bot==11.1.0
pytoml==0.1.20
pytz==2018.7
pyxdg==0.26
PyYAML==3.13
requests==2.21.0
retrying==1.3.3
six==1.12.0
SQLAlchemy==1.3.2
urllib3==1.24.1
webencodings==0.5.1
yarl==1.2.6
